@model User

<h2>
	@Model.UserName عزیز ،
</h2>
<p>
	برای فعال کردن حساب کاربری خود ، روی لینک زیر کلیک کنید
</p>
<p>
	<a href="@ConfigurationManager.AppSettings["MyDomain"]/activate/@Model.ActiveCode">فعالسازی حساب کاربری</a>
</p>