<div class="left-side sticky-left-side">
    <div class="logo">
        <h1>
            <a href="@Url.Action("Index","Home")"> Musi <span>c</span> </a>
        </h1>
    </div>

    <div class="logo-icon text-center"><a href="@Url.Action("Index","Home")">M</a></div>

    <div class="left-side-inner">
        <ul class="nav nav-pills nav-stacked custom-nav">
            <li class="active">
                <a href="@Url.Action("Index","Home")">
                    <i class="lnr lnr-home"></i>

                    <span>خانه</span>
                </a>
            </li>


            <li>
                <a href="@Url.Action("Index","Song")">
                    <i class="lnr lnr-music-note"></i>

                    <span>آهنگ ها</span>
                </a>
            </li>
        </ul>
    </div>
</div>
